$nifty-green: #8CEDB7; // This is a placeholder, replace with the actual color

// Side bar variables
$sidebar-width: 200px;
$collapsed-sidebar-width: 20px;
$collapsed-sidebar-heigth: 20px;
$navbar-height: 100px;