// main.scss
@import "variables";

body, html {
    user-select: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "NiftyFont", sans-serif !important;
    font-size: x-large;
    font-weight: normal;
    text-transform: uppercase !important;
}

// Buttons
.button-white{
    user-select: none; 
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.8rem;
    height: auto;
    width: auto;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: 2px solid transparent; 
    font-family: "NiftyFont", Helvetica, Arial;
    font-size: 30px;
    background-color: #ffffff; 
    color: black;
    &:hover {
        transform: scale(1.05); 
    }

    &:active {
        transform: scale(1); 
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.button-gold{
    user-select: none; 
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.8rem;
    height: auto;
    width: auto;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: 2px solid transparent; 
    font-family: "NiftyFont", Helvetica, Arial;
    font-size: 30px;
    background-color: #fedf25; 
    font-weight: bold;
    &:hover {
        transform: scale(1.05); 
    }

    &:active {
        transform: scale(1); 
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

/* For Webkit (Safari, Chrome, etc) */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    border: 3px solid transparent;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
}


